body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280;
}

h1 {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

h2 {
  color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 24px;
  text-align: center;
}

p {
  color: #685206;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
}

ul {
  color: #685206;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
}

.project_text{
  max-width: 720px;
  margin: 0 auto !important;
  float: none !important;
}

.text_center{
  text-align: center;
}

.text_reff{
  text-align: left;
}

.img_container {
  max-width: 1080px;
  margin: 0 auto !important;
  float: none !important;
}

.center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

  @-webkit-keyframes rainbow {
   0%{background-position:0% 82%}
   50%{background-position:100% 19%}
   100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
   0%{background-position:0% 82%}
   50%{background-position:100% 19%}
   100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
   0%{background-position:0% 82%}
   50%{background-position:100% 19%}
   100%{background-position:0% 82%}
  }
  @keyframes rainbow {
   0%{background-position:0% 82%}
   50%{background-position:100% 19%}
   100%{background-position:0% 82%}
  }

.home_h1{
  margin: 10px;
}

.frontpage{
  background-image: url(https://mortenmaabjerg.gitlab.io/group-project/frontpage_img.JPG);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: windowWidth;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}
.rawdata_img {
    width: 100%;
    margin: auto;
}

.overall_diagram {
  padding: 5px;
}

.diagrams {
  display: flex;
}

.diagrams_img {
  flex: 50%;
  padding: 5px;
}

.tracking {
  display: flex;
}

.tracking_img {
  flex: 50%;
  padding: 5px;
}

#upper {
  display: flex;
}

#p1 {
  border: 0.5px solid black;
  flex: 50%;
  margin: 5px;
}

#p2 {
  border: 0.5px solid black;
  flex: 50%;
  margin: 5px;
}

#lower {
  display: flex;
}

#p3 {
  border: 0.5px solid black;
  flex: 50%;
  margin: 5px;
}

#p4 {
  border: 0.5px solid black;
  flex: 50%;
  margin: 5px;
}

#raw_digital {
  display: flex;
}

#excel {
  border: 0.5px solid black;
  flex: 50%;
  margin: 5px;
}

#json_data {
  border: 0.5px solid black;
  flex: 50%;
  margin: 5px;
}
